@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #203945;
}

section{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .wrap{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}
section .wrap .box{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: 300px;
    height: 600px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    border-top-left-radius:60px;
    border-bottom-right-radius:60px;
}

section .wrap .box:last-child{
    margin-right: 0;
}

section .wrap .box .price{
    position:absolute;
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(131,58,180,1) 100%);
    width: 100px;
    height: 100px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    top: -50px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 600;
}


section .wrap .box .title{
    position:absolute;
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(131,58,180,1) 100%);
    width: 380px;
    height: 50px;
    left: -40px;
    top: 100px;
}