*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menuToggle{
    position: absolute;
    background: black url(./img/menu.png);; 
    width: 50px;
    height: 50px;
    top: 40px;
    right: 40px;
    z-index: 1000;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menuToggle.active{
    background: #000 url(./img/close.png);
    z-index: 1000;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.navigation{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}
.navigation.active{
    visibility: visible;
    opacity: 1;
}


.navigation .navArea{
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.navigation .navArea ul li {
    list-style: none;
}

.navigation .navArea ul li::before{
    position: absolute;
    content: '';
    background-color: red;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}
.navigation .navArea ul li:nth-child(1)::before{
    background: #905c49;
}
.navigation .navArea ul li:nth-child(2)::before{
    background: #ffde0f;
}
.navigation .navArea ul li:nth-child(3)::before{
    background: #d28759;
}
.navigation .navArea ul li:nth-child(4)::before{
    background: #72a785;
}
.navigation .navArea ul li:nth-child(5)::before{
    background: #01080e;
}
.navigation .navArea ul li:nth-child(6)::before{
    background: #137ac7;
}
.navigation .navArea ul li:hover::before{
    opacity: 1;
}

.navigation .navArea li a{
    font-size: 3em;
    font-weight: 600;
    color: rgb(255, 255, 255,0.5);
    text-decoration: none;
    transition: color,0.5s;
    
}

.navigation .navArea ul li a:hover{
    color: rgb(255, 255, 255,1);
}

.imgArea{
    position: relative;
    background-color: blueviolet;
    width: 50%;
    height: 100vh;
    
}

.imgArea img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}