@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.timeline-section {
    background-color: #24292d;
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: calc(50%);
    background-color: #2f363e;
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0px;
}

.timeline-item:nth-child(odd) {
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline-item:nth-child(even) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 7px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    color: #eaa023;
    font-size: 18px;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content h3 {
    color: #ffffff;
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.timeline-content p {
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}