*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
}
section{
    padding: 100px;
    height: 100vh;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2px;
    opacity: 0;
    animation: slideLeft 0.5s ease-in-out forwards;
}
header .toggle{
    position: relative;
    background: url('/img/menu.png');
    width:30px;
    height: 30px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10000;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
}

header .toggle.active{
    background: url('/img/close.png');
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
header .navigation{
    position: absolute;
    display: flex;
    right: 200px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

header .navigation.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    animation-delay: calc(0.2s * var(--x));
}


header .navigation li{
    list-style: none;
}
header .navigation li a{
    text-decoration: none;
    color: #111;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    z-index: 100;
}

.container .box{
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid #fff;
    
}
.container .box:first-child{
    border-radius: 10px 0 0 10px;
}
.container .box:last-child{
    border-right: none;
    border-radius: 0 10px 10px 0;
}

.container .box .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    animation: slideLeft 0.5s ease-in-out forwards;
    animation-delay: calc(0.2s * var(--i));
}
.container .box .imgBox.active{
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    top: 100px;
    left: 100px;
    z-index: 100;
}
.container .box .imgBox img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s;
}

.container .box .imgBox:hover img{
    transform: scale(1.3);
}
.container .box .imgBox.active:hover img {
    transform: scale(1);
}

section .footer{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    
    align-items: center;
}

section .footer ul{
    display: flex;
}

section .footer ul li{
    list-style: none;
}

section .footer ul li a{
    position: relative;
    text-decoration: none;
    color: #111;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
    animation: slideLeft 0.5s ease-in-out forwards;
    animation-delay: calc(0.2s * var(--i));
}

section .footer ul li:last-child a{
    margin-right: 0;
}

.copyrightText{
    color: #111;
    font-weight: 800;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: calc(0.25s * var(--i));
}

@keyframes slideRight
{
    0%
    {
        opacity: 0;
        transform: translateX(150px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slideLeft
{
    0%
    {
        opacity: 0;
        transform: translateX(-150px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media(max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .container .box{
        position: relative;
        width: 400px;
        height: 25%;
        overflow: hidden;
        border-bottom: 10px solid #fff;
        border-right: 0px;
        
    }
    .container .box:first-child{
        border-radius: 0;
    }
    .container .box:last-child{
        border-bottom: 0px;
        border-radius: 0;
    }
    .container .box .imgBox.active{
        position: fixed;
        width: calc(100% - 100px);
        height: calc(100% - 200px);
        top: 100px;
        left: 50px;
        z-index: 100;
    }
    
    header .navigation{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        width: calc(100% - 100px);
        height: calc(100% - 200px);
        top: 100px;
        left: 50px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        background-color: #fff;
    }
    
    header .navigation.active{
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        animation-delay: calc(0.2s * var(--x));
    }
    
    
    header .navigation li{
        list-style: none;
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        margin: 0 20px;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
    }

    section .footer{
        
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        bottom: 0;
        left: 0;
        padding: 0 100px;
        width: 100%;
        justify-content: space-evenly;
        height: 100px;
        align-items: center;
    }
    
    section .footer ul{
        display: flex;
        
    }
    
    section .footer ul li{
        list-style: none;
    }
    
    section .footer ul li a{
        position: relative;
        text-decoration: none;
        color: #111;
        margin-right: 20px;
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        opacity: 0;
        animation: slideLeft 0.5s ease-in-out forwards;
        animation-delay: calc(0.2s * var(--i));
    }
    
    section .footer ul li:last-child a{
        margin-right: 0;
    }
    
    .copyrightText{
        color: #111;
        font-weight: 800;
        opacity: 0;
        animation: slideRight 0.5s ease-in-out forwards;
        animation-delay: calc(0.25s * var(--i));
    }
    
}