*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,94,176,1) 0%, rgba(0,212,255,1) 100%);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 22px;
    font-weight: 600;
}
.wrapper{
    background-color: #fff;
    width: 500px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px;
    padding: 30px;
}
.wrapper header{
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField{
    display: flex;
    height: 40px;
    width: 100%;
    margin: 20px 0;
}

.inputField input{
    width: 90%;
    height: 100%;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
    outline: none;
}

.inputField button{
    width: 45px;
    height: 100%;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: #8E49E8;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.3;
    pointer-events: none;
}

.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todoList{
    height: 250px;
    overflow-y: auto;
}
.wrapper .todoList li{
    list-style-type: none;
    background-color: #f2f2f2;
    position: relative;
    line-height: 45px;
    height: 45px;
    margin-bottom: 8px;
    padding: 0 15px;
    overflow: hidden;
}

.todoList li span{
    position: absolute;
    right: -45px;
    width: 45px;
    background-color: #e74c3c;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.todoList li:hover span{
    right: 0px;
}
.wrapper .footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.footer button{
    border: none;
    outline: none;
    background-color: #8E49E8;
    padding: 6px 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.3;
    pointer-events: none;
}

.footer button.active{
    opacity: 1;
    pointer-events: auto;
}