* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo {
    max-width: 120px;
}

header .toggle {
    max-width: 60px;
    cursor: pointer;
}

header .logo img,
header .toggle img {
    max-width: 100%;
}

.banner {
    width: 100%;
    position: relative;
    min-height: 100vh;
    background: url("img/bg.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content {
    max-width: 550px;
    position: absolute;
    left: 100px;
}

.banner .content h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #fff;
}

.banner .content h2 span {
    font-weight: 800;
}

.banner .content p {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #fff;
    line-height: 1.5em;
    margin: 15px 0 35px;
}

.play {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.play img {
    margin-right: 10px;
    max-width: 55px;
}

.sci {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.6);
}

.slide {
    border-radius: 10px;
    position: absolute;
    width: 250px;
    height: 150px;
    bottom: 50px;
    left: calc(50% - 250px / 2);
    background: url(img/joker.png);
    background-size: cover;
    cursor: pointer;
    animation: animate 25s linear infinite;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85);
    visibility: hidden;
    opacity: 0;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    outline: none;
}

.trailer img {
    position: absolute;
    filter: invert(1);
    max-width: 32px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

@keyframes animate {
    0%,
    100% {
        background-position: top;
    }
    45%,
    55% {
        background-position: bottom;
    }
}