@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*!Header Start*/

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

header.fixedS {
    padding: 40px 100px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
}

header.fixedS .logo {
    color: black;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s ease;
}

header.fixedS ul li a {
    color: black;
}

header ul li a:hover {
    color: #2196f3;
}


/*!Header End*/


/*!Section Start*/

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url("images/banner.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    line-height: 1.5em;
    font-weight: 500;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    background-color: #2196f3;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
}


/*!Section End*/


/*!About Start*/

#about {
    padding-top: 120px;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    padding-right: 50px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    min-width: 50%;
}

.img {
    width: 100%;
    height: 100%;
    padding-top: 30px;
}


/*!About End*/


/*!Services Start*/

#services {
    padding-top: 115px;
}

.services {
    background-color: #111;
}

.heading.white {
    color: #fff;
}

.services .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.services .content .serviceBx {
    padding: 40px 20px;
    color: #fff;
    max-width: 390px;
    background-color: #222;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .serviceBx:hover {
    background-color: #2196f3;
}

.services .content .serviceBx img {
    max-width: 80px;
    filter: invert(1);
}

.services .content .serviceBx h2 {
    font-size: 20px;
    font-weight: 600;
}


/*!Services End*/


/*!Work Start*/

#work {
    padding-top: 115px;
}

.heading.black {
    color: #111;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.work .content .workBx {
    padding: 20px;
    width: 50%;
}

.work .content .workBx img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/*!Work End*/


/*!Contact Start*/

.contact {
    background-color: #111;
}

.heading.white {
    color: #fff;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form textarea,
.formBx form input {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #222;
}

.contactInfo .box {
    display: flex;
}

.contactInfo .box .icon {
    filter: invert(1);
    margin-top: 3px;
    margin-right: 20px;
}

.contactInfo .box .text h3 {
    color: #2196f3;
}

.contactInfo .box .text p {
    color: #fff;
}