@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    content: "";
    clear: both;
    display: table;
   
}

.timeline::before{
    position: absolute;
    content: '';
    height: 100%;
    left: 50%;
    width: 2px;
    background-color: #c5c5c5;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline ul li{
    position: relative;
    width: 50%;
    list-style-type: none;
    padding: 20px 40px;
    clear: both;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
}

.content{
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before{
    height: 10px;
    width: 10px;
    position: absolute;
    content: '';
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
    right: -6px;
    top:26px;
}

.timeline ul li:nth-child(even)::before{
    height: 10px;
    width: 10px;
    position: absolute;
    content: '';
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
    left: -4px;
    top:25px;
}

.timeline ul li h3{
    margin-bottom: 10px;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}

.timeline ul li p{
    padding: 0;
    margin: 10px 0 0;
}

.timeline ul li:nth-child(odd) .time{
    position: absolute;
    margin: 0;
    right: -180px;
    top: 12px;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}
.timeline ul li:nth-child(even) .time{
    position: absolute;
    margin: 0;
    left: -180px;
    top: 12px;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}